.font-084rem {
	font-size: 0.84rem;
}

.font-065rem{
	font-size: 0.65rem;
}

body {
	font-family: 'Roboto', sans-serif;
}

a:hover, a {
	text-decoration: none;
}


.nav-item {
	margin: 12px 0px;
}

.icon-1rem {
	width: 1rem;
	height: 1rem;
	background-size: cover;
}

.icon-sm-notification {
	font-size: 7px !important;
	position: absolute;
	top: -2px;
	right: -4px;
}

.position-relative {
	position: relative;
}

.triangle-up::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    line-height: 10px;
    position: absolute;
    bottom: -23px;
    left: 1px;
    opacity: 0;
    transition: all 0.25s;
}

.image-50px {
	width: 50px;
	height: 50px;
	background-size: cover;
}

.submenu {
	width: max-content;
	padding: 15px;

	position: absolute;
	bottom: -236px;
	left: -95px;
	opacity: 0;
    transition: all 0.25s;

}

.position-relative:hover .submenu {
	opacity: 1;
}

.position-relative:hover .triangle-up::after {
	opacity: 1;
}

.icon-30px {
	height: 30px;
	width: 30px;
}

.font-8px {
	font-size: 8px;
}


.nav-item-9 {
	padding: 10px 20px;
	background-color: #c19b77;
}




